{% extends "base.html" %}

{% load static %}

{% block title %}Upload and crop{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
{% endblock %}

{% block content %}
<div>
    <div class="d-flex justify-content-center w-100">
        <div class="d-flex flex-column">

            <form runat="server" id="formImg" action="#" method="POST">

                <div class="d-flex justify-content-center w-100  mb-3">
                    <div class="d-flex flex-column">
                        <h1>Image Cropper</h1>

                        {% csrf_token %}
                        <label for="imgInp" class="btn custom-file-upload">
                            Escolher arquivo
                        </label>
                        <input accept="image/jpeg, image/png" type='file' id="imgInp" name="img" />
                    </div>
                </div>
                <input type="text" class="d-none" id="teste" name="imgBase">

                {% if img %}
                <img src="{{ img }}" id="imgCrop" alt="your image" />

                <canvas id="canvas" type="hidden" class="d-none"></canvas>
                {% endif %}
            </form>
            <div class="d-flex justify-content-center w-100">
                {% if img %}
                    <button id="btnTeste" class="btn custom-file-upload">Salvar imagem</button>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% if img %}
<script src="https://unpkg.com/jcrop"></script>
{% endif %}

<script src="{% static 'js/upload.js' %}"></script>

{% endblock %}